body{
    background-color: #657D9B;
    font-family: Times New Roman;/*Helvetica;*/
}

.meny{
    color: white;
}

#nettside{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 1100px;
    min-height: auto;
}

#logoMeny{
    width: 250px;
    height:1000px;/*senere auto, skal bare se hvordan det ser ut*/
    /*background-color: antiquewhite;/*for å se hvordan det ser ut. vi skal ikke ha bakgrunnsfarge*/
    text-align: center;
}

main#innhold{
    position: static;
    margin-left: 250px;
    top: 30px;
    width: 820px;
    height: auto; /*970*/
    background-color:white;
	padding:15px;
    text-align: center;
    margin-top: -1000px;
}

div#visning{
    margin-left: auto;
    margin-right: auto;
    background-color: palegreen;
    width: 720px;
    height: auto;
}

/* FOOOOOOOOTER */
footer {
    width: 100%;
    height: 400px;
    background-color: #d6d6d6;
    margin-bottom: 10px;
    margin-top: 30px;
   

    

}

#foot{
    width: 1000px;
    height: 100%;
    margin: 0 auto;     
}

a.linkMail {
    color: black;
}

h3{
    color:black;
}

div.sosialt {
    float: left;
    margin-top: 200px;
}

a.sosialt {
    margin-right: 10px;
}

div.kontakt {
    float: right;
    margin-right: 145px;
    margin-top: 30px;
}

input.text{
    height: 30px;
    width: 250px;
    border-radius: 3px;
    border: none;
}

textarea.message {
    height: 100px;
    width: 250px;
    border-radius: 3px;
    border: none;
}



/*footer{ 
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    background-color: #d6d6d6;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width:1100px;
    height: 20px;
    bottom: 0;
} */

img.inspoBildeEgenskaper{
    width: 300px;
    height: 450px;
    padding: 10px;
}
img.inspoBildeEgenskaper:hover{
    width: 300px;
    height: 450px;
    padding: 10px;
    background-color: #434343;
}

img.skoene{
    width: 300px;
    height: 433px;
    padding: 10px;
}

.overskrift{
    font-family: times new roman;
    font-size: 35px;
    margin-top: 30px;
    text-transform: uppercase;
    color: #AFAFAF;
}

hr{
	border:0;
	width: 500px;
	height:1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(220, 220, 220, 0.75), rgba(0, 0, 0, 0));
	/*https://css-tricks.com/examples/hrs/*/
}

nav{
    margin-left:  -20px;
    margin-right: auto;
    line-height:40px;
	font-size:16px;
	/*color:pink;*/
	z-index:2;
    width: 250px;
}

/*velger alle ul i nav*/
nav ul { 
	list-style:none; 
    text-align: center;
}

/* gir alle linker en grønnlinje*/
nav ul a{
	border-bottom:2px solid white;
}

/*alle ul i ul i nav, skjules*/
nav ul li ul{
	display:none;
    position: absolute;
}

/*når vi har musepekeren over li, så vil ul få følgende egenskaper: */
ul > li:hover > ul{
	display:block;
	z-index:2;
	width:200px;
    margin-left: 180px;
    margin-top: -42px;
}

/*besøkte og ubesøkte linker*/
nav ul li a:link, a:visited{ 
	text-decoration:none;
	color:white;
	background-color:#657D9B;
	display:block;
}

/*aktiv link og når vi har musepekeren over*/
nav ul li a:hover{ 
	text-decoration:none;
    -webkit-transition:all .6s;
	background-color: #d6d6d6;
    color: white;
	display:block;
}

a:link, a:visited{
	text-decoration:none;
	color:white;
}

a:hover, a:active{
    text-decoration:none;
    color:white;
}

p {
    font-family: Helvetica;
    font-size: 15px;
}


nav ul li a{
    width: 210px;
    -webkit-transition:all .6s;
    background: #333;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0,0,0,.5), 1px 1px 5px rgba(o,o,o,.3;)
        
}
a.knappi:hover{
    background: #e3e3e3;
    color: #333;
}

img.sneakers{
    width: 220px;
    height: 180px;
    padding: 10px;
}



/* Hover over bildene, med tekst!/*/
.imageHolder { 
    position: relative; 
    width: 220px; 
    height: 180px; 
} 

.imageHolder .caption { 
    opacity: 0; 
    position:absolute; 
    height:180px; 
    width: 220px; 
    top: 0px; 
    left: 0px; 
    bottom: 0px;
    padding: 2px 0px; 
    color: whitesmoke; 
    background: black; 
    text-align: auto; 
    font-weight:bold; 
    font-size: 30px;
    font-family: Helvetica;
     -webkit-transition: all 0.7s;
} 
.imageHolder:hover .caption { 
    opacity: 0.8; 
}

/* !!!!!!!! Bare en test foreløpig !!!!!!!! /*/

img.sneakers{
    width: 220px;
    height: 180px;
    padding: 0px;
}



/* Hover over bildene, med tekst!/*/
.imageHolder2 { 
    position: relative; 
    width: 220px; 
    height: 180px; 
} 

.imageHolder2 .caption2 { 
    opacity: 0; 
    position:absolute; 
    height:180px; 
    width: 220px; 
    top: 0px; 
    left: 0px; 
    bottom: 0px;
    padding: 2px 0px; 
    color: whitesmoke; 
    background: black; 
    text-align: auto; 
    font-weight:bold; 
    font-size: 30px;
    font-family: Helvetica;
} 
.imageHolder2:hover .caption2 { 
    opacity: 0.8; 
}

/* Hover over bildene, med tekst!/*/


.imageHolder3 { 
    position: relative; 
    width: 220px; 
    height: 180px; 
} 

.imageHolder3 .caption3 { 
    opacity: 0; 
    position:absolute; 
    height:180px; 
    width: 220px; 
    top: 0px; 
    left: 0px; 
    bottom: 0px;
    padding: 2px 0px; 
    color: whitesmoke; 
    background: black; 
    text-align: auto; 
    font-weight:bold; 
    font-size: 30px;
    font-family: Helvetica;
} 
.imageHolder3:hover .caption3 { 
    opacity: 0.8; 
}